    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'Compuglobal','submenu':'Imagen Sin Enlace'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/plugins/bower_components/datatables/jquery.dataTables.min.js') }}"></script><script>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Imagen Sin Enlace</h3>
               {#<p class="text-muted m-b-30">{{ ImagenSinEnlace</p>#}
                <table id="myTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>No.</th>   <th>Imagen</th>   <th>Tipo</th>  <th>Activo</th>  <th>Actualizada</th>                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set i = 1 %}
                    {% for imagenSinEnlace in imagenSinEnlaces %}
                    <tr>
                        <td>{{ i }}</td>  <td><img src="{{ asset('uploads/images/'~imagenSinEnlace.imagen) }}" class="img-responsive" width="75"></td>   <td>{{ imagenSinEnlace.tipo|imagensinEnlace }}</td>                                <td>{{  imagenSinEnlace.activo|sino }}</td>    <td>{% if imagenSinEnlace.updatedat %}{{ imagenSinEnlace.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <a href="{{ path('imagensinenlace_show', { 'id': imagenSinEnlace.id }) }}" data-toggle="tooltip" title="Ver" class="btn btn-default"><i class="fa fa-list-ul"></i></a>
                                        <a href="{{ path('imagensinenlace_edit', { 'id': imagenSinEnlace.id }) }}" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                    </div>
                                </td>
                    </tr>
                    {% set i=i+1 %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% endblock %}
