{% extends '@Frontend/layout.html.twig' %}

{% block title %}{{ parent() }} | {{ articulo.titulo }}{% endblock %}

{% block opengraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ articulo.titulo|title }} | Compuglobal" />
    <meta property="og:description" content="{{ articulo.metadesc }}" />
    <meta property="og:image" content="{{ absolute_url(asset('uploads/images/'~articulo.imagen)) }}" />
{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('admin/plugins/bower_components/sweetalert/sweetalert.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin/plugins/bower_components/sweetalert/sweetalert.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row no-margin">
        <div class="col-md-12">
            <div class="container articulo">
                <div class="row">
                    <div class="col-sm-7">
                        <h2>blog<span>Compuglobal</span></h2>
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <script>
                            $(document).ready(function () {
                                $('#content img').css('width','100%');
                                $('#content img').css('height','auto');
                                {% if enviado==1 %}
                                    swal({
                                        title: "Gracias!",
                                        text: "Comentario Agregado.",
                                        type: "success"
                                    });
                                    $('#comentario_nickname').val('');
                                    $('#comentario_email').val('');
                                    $('#comentario_comentario').val('');
                                {% endif %}
                            });
                        </script>
                        <div class="fb-share-button" data-href="{{ absolute_url(path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))) }}" data-layout="button_count" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))) }}&amp;src=sdkpreparse">Compartir</a></div>
                        <img class="img-responsive articulo-img" src="{{ asset('uploads/images/'~articulo.imagen) }}">
                        <div id="content">
                            <h2>{{ articulo.titulo }}</h2>
                            {{ articulo.contenido|raw }}
                            <p>Fuente: <a href="{{ articulo.fuente }}" target="_blank">Enlace</a></p>
                        </div>
                        <div id="comentarios">
                            <h2>Danos tu opinión sobre este artículo.</h2>
                            {{ form_start(form,  {'action':path('article',{'slug':articulo.slug})}) }}
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>NickName </label>
                                    </div>
                                    <div class="col-sm-4">
                                        {{ form_widget(form.nickname, {'attr': {'class': 'form-control'} }) }}
                                        {% if form.nickname.vars.errors|length > 0 %}
                                            <p class="help-block">
                                                {% for error in form.nickname.vars.errors %}
                                                    {{ error.message }} <br/>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-1">
                                        <label>Mail </label>
                                    </div>
                                    <div class="col-sm-5">
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'} }) }}
                                        {% if form.email.vars.errors|length > 0 %}
                                            <p class="help-block">
                                                {% for error in form.email.vars.errors %}
                                                    {{ error.message }} <br/>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Opinión </label>
                                    </div>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.comentario, {'attr': {'class': 'form-control '} }) }}
                                        {% if form.comentario.vars.errors|length > 0 %}
                                            <p class="help-block">
                                                {% for error in form.comentario.vars.errors %}
                                                    {{ error.message }} <br/>
                                                {% endfor %}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <button class="btn btn-default btn-block" type="submit">¡Listo!</button>
                            {{ form_end(form) }}
                            <h2 class="text-center">Comentarios</h2>
                            <div class="list-comment">
                                {% for i in comentarios %}
                                    <div class="comment">
                                        <div class="col-xs-2"><img class="img-responsive" src="{{ asset('assets/img/user.png') }}"></div>
                                        <div class="col-xs-10">
                                            <h2>{{ i.nickname }}</h2></div>
                                        <div class="col-xs-12">
                                            <p>{{ i.comentario }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <h2>+<span>artículos</span></h2>
                        {% for sug in sugerencias %}
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-xs-4">
                                    <a href="{{ path('article',{'slug':sug.slug}) }}">
                                        <img class="img-responsive" src="{{ asset('uploads/images/'~sug.imagen) }}">
                                    </a>
                                </div>
                                <div class="col-xs-8">
                                    <a href="{{ path('article',{'slug':sug.slug}) }}">
                                        <h3>{{ sug.titulo }}</h3>
                                        <p>{{ sug.descripcion }}</p>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        <img class="img-responsive" src="{{ asset('uploads/images/'~img.imagen) }}" style="margin-top: 10px;"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}