{% extends '@Frontend/layout.html.twig' %}

{% block publicaciones %}
    class="active"
{% endblock %}

{% block title %}{{ parent() }} | Publicaciones{% endblock %}

{% block body %}
<div class="row no-margin">
    <div class="col-md-12">
        <div class="container blog-page">
            <h2 class="text-center">Artículos</h2>
            {% for item in articulos %}
                <div class="col-md-4 col-sm-6">
                    <div class="blog-item shadow-dark">
                        <a href="{{ path('article',{'slug':item.slug}) }}">
                            <img class="img-responsive blog-img" src="{{ asset('uploads/images/'~item.imagen) }}">
                        </a>
                        <a href="{{ path('article',{'slug':item.slug}) }}">
                            <h3>{{ item.titulo }}</h3>
                        </a>
                        <p>{{ item.descripcion }}</p>
                        <p>Publicado: {{ item.updatedAt|localizeddate('long','none','es') }}
                            <a href="{{ path('article',{'slug':item.slug}) }}"><img src="{{ asset('assets/img/plus.png') }}"></a>
                        </p>
                    </div>
                </div>
            {% endfor %}
            <div class="row margin-tb">
                <div class="col-xs-12"><img class="img-responsive" src="{{ asset('uploads/images/'~img.imagen) }}"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}