{% extends '@Frontend/layout.html.twig' %}

{% block title %}{{ parent() }} | Cursos{% endblock %}

{% block body %}
    <div class="row no-margin">
        <div class="col-md-12">
            <div class="container">
                <div class="row cursos-marquee">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h3>cursos y capacitaciones</h3></div>
                    <div class="col-xs-6">
                        <marquee>
                            {% for marquee in marquee %}
                                <span>{{ marquee.texto }}</span>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                                <span>&nbsp;</span>
                            {% endfor %}
                        </marquee>
                    </div>
                    <div class="col-xs-1">
                        <h4 class="text-center minus" data-slide="prev">-</h4></div>
                    <div class="col-xs-1">
                        <h4 class="text-center" data-slide="next">+</h4></div>
                </div>
                <div class="row cursos-car">
                    <div class="col-md-12">
                        <div class="carousel slide cursos-carousel" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                {% for ban in banners %}
                                    {% if loop.first %}
                                        <div class="item active" data-interval="2000">
                                            {% if ban.enlace == '' %}
                                                <img src="{{ asset('uploads/images/'~ban.imagen) }}" alt="Banner Imagen">
                                            {% else %}
                                                <a href="{{ ban.enlace }}"><img src="{{ asset('uploads/images/'~ban.imagen) }}" alt="Banner Imagen"></a>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="item" data-interval="1">
                                            {% if ban.enlace == '' %}
                                                <img src="{{ asset('uploads/images/'~ban.imagen) }}" alt="Banner Imagen">
                                            {% else %}
                                                <a href="{{ ban.enlace }}"><img src="{{ asset('uploads/images/'~ban.imagen) }}" alt="Banner Imagen"></a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin">
        <div class="col-md-12">
            <div class="container cursos">
                <div class="row">
                    <div class="col-sm-6" style="background: rgb(36,36,36);" data-toggle="modal" modal="{{ chico.id }}" act="{{ path('modalDB') }}">
                        <h3>{{ chico.titulo }}</h3>
                        <p>{{ chico.descripcion }}</p>
                        <h2>{{ chico.textoAlternativo }}</h2>
                    </div>
                    {% for curso in cursos %}
                        <a href="{{ path('course',{'slug':curso.slug}) }}">
                            <div class="col-sm-2" style="background: {{ curso.colorFondo }};">
                                <h4 style="color: {{ curso.colorFecha }}">{{ curso.fecha|localizeddate('short','none','es',null,"d 'de' MMMM") }}</h4>
                                <h5 style="color: {{ curso.colorTitulo }};">{{ curso.titulo }}</h5>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin margin-tb">
        <div class="col-md-12">
            <div class="container manager">
                <div class="row">
                    <div class="col-sm-5" data-toggle="modal" modal="{{ grande.id }}" act="{{ path('modalDB') }}">
                        <img class="img-responsive" src="{{ asset('uploads/images/'~grande.imagenAlternativa) }}">
                    </div>
                    <div class="col-sm-7">
                        <div class="manager-div">
                            <h1>{{ grande.titulo }}</h1>
                            <p>{{ grande.descripcion }}</p>
                            <h3 data-toggle="modal" modal="{{ grande.id }}" act="{{ path('modalDB') }}">{{ grande.textoAlternativo }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}