<div class="col-xs-3 no-padding">
    <div class="menu2-div prod"><a href="#" data-toggle="modal" modal="{{ producto.id }}" act="{{ path('modalDB') }}"><h3 class="text-center">Productos</h3></a></div>
</div>
<div class="col-xs-3 no-padding">
    <div class="menu2-div marca"><a href="#" data-toggle="modal" modal="{{ marca.id }}" act="{{ path('modalDB') }}"><h3 class="text-center">Marcas</h3></a></div>
</div>
<div class="col-xs-3 no-padding">
    <div class="menu2-div hot"><a href="#" data-toggle="modal" modal="{{ hot.id }}" act="{{ path('modalDB') }}"><h3 class="text-center">Hot Sale</h3></a></div>
</div>