    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'Compuglobal','submenu':'Curso'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('admin/js/jasny-bootstrap.js') }}"></script>
{% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Ver Registro</h3>                <form class="form-horizontal" role="form">                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.id }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if curso.fecha %}{{ curso.fecha|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Titulo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.titulo }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Imagen</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.imagen }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Precio</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.precio }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contenido</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.contenido }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Color_fondo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.colorfondo }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Color_titulo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.colortitulo }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Color_fecha</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.colorfecha }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Activo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{  curso.activo|sino }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Slug</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.slug }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Metakeys</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.metakeys }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Metadesc</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ curso.metadesc }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Created_at</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if curso.createdat %}{{ curso.createdat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Updated_at</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if curso.updatedat %}{{ curso.updatedat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                    <div class="form-group m-b-0">
                        <div class="col-sm-12">
                                                                    <a class="btn btn-inverse waves-effect waves-light m-t-10" style="float:left; margin:5px;" href="{{ path('curso_index') }}">Regresar</a>            <a class="btn btn-info waves-effect waves-light m-t-10" style="float:left;  margin:5px;"  href="{{ path('curso_edit', { 'id': curso.id }) }}">Editar</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
