    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'Compuglobal','submenu':'Pedidos'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('admin/js/jasny-bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.quantity:input').bind('keyup mouseup',function(){
                var x = $(this).val();
                var price = {{ pedido.productos.precio }};
                var total = price * x;
                $('.precio').val(total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            });
        });
    </script>
{% endblock %}

    {% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="white-box" style="margin-bottom: -15px;">
                <h3 class="box-title m-b-0">Editar Registro</h3>                {% form_theme edit_form '@Admin/form/innology_bootstrap_3_horizontal_layout.html.twig' %}
            </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 white-box">
                        {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                                                            <a class="btn btn-inverse waves-effect waves-light m-t-10" style="float:left; margin:5px;" href="{{ path('pedidos_index') }}">Regresar</a><button type="submit" class="btn btn-success waves-effect waves-light m-t-10" style="float:left;  margin:5px;" >Guardar</button>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
        </div>
    </div>



    {% endblock %}
