    {% extends '@Admin/base.html.twig' %}
{% block navegacion %}
{{ include('@Admin/partials/navegacion.html.twig',{'menu':'Compuglobal','submenu':'Articulo'}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('admin/js/jasny-bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
           $('.html img').css('width','100%');
            $('.html img').css('height','auto');
        });
    </script>
{% endblock %}

    {% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Ver Registro</h3>                <form class="form-horizontal" role="form">                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ articulo.id }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Imagen</label>
                            <div class="col-sm-10">
                                <img src="{{ asset('uploads/images/'~articulo.imagen) }}" class="img-responsive" width="100%">
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Titulo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ articulo.titulo }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripcion</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ articulo.descripcion }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contenido</label>
                            <div class="col-sm-10 html">
                                <p class="form-control-static">                                        {{ articulo.contenido|raw }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fuente</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">      <a href="{{ articulo.fuente }}" target="_blank">Enlace</a>                                 </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Activo</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{  articulo.activo|sino }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Slug</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ articulo.slug }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Metakeys</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ articulo.metakeys }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Metadesc</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {{ articulo.metadesc }}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Creado</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if articulo.createdat %}{{ articulo.createdat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                        <div class="form-group">
                            <label class="col-sm-2 control-label">Actualizado</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">                                        {% if articulo.updatedat %}{{ articulo.updatedat|date('Y-m-d H:i:s') }}{% endif %}                                </p>
                            </div>
                        </div>                    <div class="form-group m-b-0">
                        <div class="col-sm-12">
                                                                    <a class="btn btn-inverse waves-effect waves-light m-t-10" style="float:left; margin:5px;" href="{{ path('articulo_index') }}">Regresar</a>            <a class="btn btn-info waves-effect waves-light m-t-10" style="float:left;  margin:5px;"  href="{{ path('articulo_edit', { 'id': articulo.id }) }}">Editar</a></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
